In [1]:
import numpy as np
import pandas as pd

In [2]:
movies = pd.read_csv("Data/ml-100k/u.item", sep = "|", encoding="ISO-8859-1", header = None, names = ["item_id", "movie_title", "release_date", "3", "IMdb_url", "unknown",
"Action",
"Adventure",
"Animation",
"Children\'s",
"Comedy",
"Crime",
"Documentary",
"Drama",
"Fantasy",
"Film-Noir",
"Horror",
"Musical",
"Mystery",
"Romance",
"Sci-Fi",
"Thriller",
"War",
"Western"])

In [3]:
data = pd.read_csv("Data/ml-100k/u.data", sep = "\t", header = None, names = ["user_id", "item_id", "rating", "ts"])
users = pd.read_csv("Data/ml-100k/u.user", sep = "|", header = None, names = ["user_id", "age", "sex", "occupation", "ts"])
movies = pd.read_csv("Data/ml-100k/u.item", sep = "|", encoding="ISO-8859-1", header = None, names = ["item_id", "movie_title", "release_date", "3", "IMdb_url", "unknown",
"Action",
"Adventure",
"Animation",
"Children\'s",
"Comedy",
"Crime",
"Documentary",
"Drama",
"Fantasy",
"Film-Noir",
"Horror",
"Musical",
"Mystery",
"Romance",
"Sci-Fi",
"Thriller",
"War",
"Western"])

# reduce ids by 1 for easier indexing
users.user_id = users.user_id.apply(lambda x: x-1)
movies.item_id = movies.item_id.apply(lambda x: x-1)
data.user_id = data.user_id.apply(lambda x: x-1)
data.item_id = data.item_id.apply(lambda x: x-1)

In [9]:
n_movies, _ = movies.shape
n_users, _ = data.shape

In [5]:
data.head()

   user_id  item_id  rating         ts
0      195      241       3  881250949
1      185      301       3  891717742
2       21      376       1  878887116
3      243       50       2  880606923
4      165      345       1  886397596

In [6]:
ratings = np.zeros((943, 1682))
for i in range(data.shape[0]):
                   ratings[data.user_id[i], data.item_id[i]] = data.rating[i]

In [7]:
ratings

array([[5., 3., 4., ..., 0., 0., 0.],
       [4., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [5., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 5., 0., ..., 0., 0., 0.]])